.DS_Store
*.pyc
env
*.sw?

build
.idea
*.iml
.vscode/*

# experimental exclusions
experimental/generated/elasticsearch/6
experimental/generated/docs

# patches are vital to cross-branch testing but don't want in GitHub
*.patch

# don't checkin external node_modules or generated js
**/node_modules/*
*.js
*.js.map

