.DS_Store
*.pyc
env
*.sw?

build
.idea
*.iml
.vscode/*

# experimental exclusions
experimental/generated/elasticsearch/6
experimental/generated/docs

# subset exclusions
generated/ecs/subset
experimental/generated/ecs/subset

# patches are vital to cross-branch testing but don't want in GitHub
*.patch
