[[ecs-best-practices]]
=== Best Practices

The following are best practices when using ECS.

{% for bp in best_practices %}
  {% for scenario, rules in bp.items() %}
[float]
==== {{ scenario }}
    {% for r in rules %}
* {{ r }}
    {% endfor %}
  {% endfor %}
{% endfor %}
