[[ecs-field-reference]]
== {ecs} Field Reference

This is the documentation of ECS version {{ ecs_generated_version }}.

ECS defines multiple groups of related fields. They are called "field sets".
The <<ecs-base,Base>> field set is the only one whose fields are defined
at the root of the event.

All other field sets are defined as objects in {es}, under which
all fields are defined.

For a single page representation of all fields, please see the
{ecs_github_repo_link}/generated/csv/fields.csv[generated CSV of fields].

[float]
[[ecs-fieldsets]]
=== Field Sets
[cols="<,<",options="header",]
|=====
| Field Set  | Description
{% for fieldset in fieldsets %}
| <<ecs-{{ fieldset['name'] }},{{ fieldset['title'] }}>> | {{ fieldset.get('short', fieldset['description']) }}
{% endfor %}
|=====

include::field-details.asciidoc[]
