{# macro - OTel attribute #}
{%- macro otel_attribute(field, otel) -%}
{%- if otel['relation'] == 'match' -%}
{{ field['flat_name'] }}
{%- else -%}
{{ otel['attribute'] }}
{%- endif -%}
{%- endmacro -%}

{# macro - OTel attribute dashed name #}
{%- macro dashed_name(name) -%}
{{ name | trim | lower | replace("_", "-") | replace(".", "-") }}
{%- endmacro -%}

{# macro - OTel attribute dashed name #}
{%- macro otel_attribute_dashed_name(field, otel) -%}
{{ dashed_name(otel_attribute(field, otel)) }}
{%- endmacro -%}

{# macro - OTel attribute link #}
{%- macro otel_attribute_link(field, otel) -%}
https://opentelemetry.io/docs/specs/semconv/attributes-registry/
{{- otel_attribute(field, otel).split(".")[0] -}}
/#
{{- otel_attribute_dashed_name(field, otel) -}}
[{{ otel_attribute(field, otel) }}]
{%- endmacro -%}

{# macro - OTel metric link #}
{%- macro otel_metric_link(otel) -%}
https://github.com/search?q=repo%3Aopen-telemetry%2Fsemantic-conventions+%22%3C%21--\+semconv+metric.{{otel['metric']}}+--%3E%22&type=code[{{ otel['metric'] }}]
{%- endmacro -%}

{# macro - OTel OTLP link #}
{%- macro otel_otlp_link(otel) -%}
https://github.com/search?q=repo%3Aopen-telemetry%2Fopentelemetry-proto+%22\+{{ otel['otlp_field'] }}+%22&type=code[{{ otel['otlp_field'] }}]
{%- endmacro -%}

{# macro - OTel link #}
{%- macro otel_link(field, otel) -%}
{%- if otel['relation'] == 'metric' -%}
{{ otel_metric_link(otel) }}
{%- elif otel['relation'] == 'na' -%}
Not applicable.
{%- elif otel['relation'] == 'otlp' -%}
{{ otel_otlp_link(otel) }}
{%- else -%}
{{ otel_attribute_link(field, otel) }}
{%- endif -%}
{%- endmacro -%}

{# macro - OTel relation badge #}
{%- macro otel_relation_badge(otel)-%}
image:https://img.shields.io/badge/
{%- if otel['relation'] == 'match' -%}
match-93c93e?style=flat[relation,title=match
{%- elif otel['relation'] == 'equivalent' -%}
equivalent-1ba9f5?style=flat[relation,title=equivalent
{%- elif otel['relation'] == 'metric' -%}
metric-cb00cb?style=flat[relation,title=metric
{%- elif otel['relation'] == 'conflict' -%}
conflict-910000?style=flat[relation,title=conflict
{%- elif otel['relation'] == 'na' -%}
n%2Fa-f2f4fb?style=flat[relation,title=not-applicable
{%- elif otel['relation'] == 'otlp' -%}
OTLP-ffdcb2?style=flat[relation,title=otlp
{%- else -%}
related-efc20d?style=flat[relation,title=related
{%- endif -%}
,link=ecs-opentelemetry.html#ecs-opentelemetry-relation]
{%- endmacro -%}

{# macro - OTel stability badge #}
{%- macro otel_stability_badge(otel)-%}
{%- if 'stability' in otel and otel['stability'] == 'experimental' -%}
image:https://img.shields.io/badge/✘-fed10c?style=flat[experimental,title=experimental]
{%- elif otel['stability'] == 'stable' -%}
image:https://img.shields.io/badge/✔-93c93e?style=flat[stable,title=stable]
{%- endif -%}
{%- endmacro -%}

{# macro - format number #}
{%- macro format_number(num) -%}
{%- if num == 0 -%}
·
{%- else -%}
{{ num }}
{%- endif -%}
{%- endmacro -%}

{# macro - format number with local link #}
{%- macro format_number_with_local_link(num, link) -%}
{%- if num == 0 -%}
·
{%- else -%}
<<{{ link }},{{ num }}>>
{%- endif -%}
{%- endmacro -%}

{# macro - format number with external link #}
{%- macro format_number_with_ext_link(num, link) -%}
{%- if num == 0 -%}
·
{%- else -%}
{{ link }}[{{ num }}]
{%- endif -%}
{%- endmacro -%}

{# OTel badge #}
{%- set otel_badge = "image:https://img.shields.io/badge/OpenTelemetry-4a5ca6?style=flat&logo=opentelemetry[OTel Badge]" -%}