
*Important*: The field value must be one of the following:

{{ allowed_values }}

To learn more about when to use which value, visit the page
<<ecs-allowed-values-{{ dashed_name }},allowed values for {{ flat_name }}>>

