{% include 'index_header.j2' %}
{% for fieldset in fieldsets %}
| <<ecs-{{ fieldset['name'] }},{{ fieldset['title'] }}>> | {{ fieldset.get('short', fieldset['description']) }}
{% endfor %}
{% include 'table_footer.j2' %}
{% include 'index_footer.j2' %}
