
| {{ flat_name }}
| {{ description|replace("\n", "\n\n") }}

type: {{ field_type }}

{{ normalization }}

{{ example }}

| {{ level }}

// ===============================================================

