
[[ecs-{{ name }}]]
=== {{ title }} Fields

{{ description|replace("\n", "\n\n") }}

[discrete]
==== {{ title }} Field Details

[options="header"]
|=====
| Field  | Description | Level

// ===============================================================

