name: Mark stale pull requests

on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  pull-requests: write

jobs:
  stale:
    if: github.repository == 'elastic/ecs'

    runs-on: ubuntu-latest

    steps:
    - name: "Check PRs"
      uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-pr-message: 'This PR is stale because it has been open for 60 days with no activity.'
        stale-pr-label: 'stale'
        ascending: true
        days-before-pr-stale: 60
        days-before-issue-stale: -1
        days-before-close: -1
        operations-per-run: 120
