name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-22.04
    name: Unit Tests
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5
        with:
          python-version: '3.x'
      - run: git fetch --prune --unshallow --tags
      - run: make check_license_headers
      - run: make check

