name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-24.04
    name: Unit Tests
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.x'
      - run: git fetch --prune --unshallow --tags
      - run: make check yamllint
