name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-20.04
    name: Unit Tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: git fetch --prune --unshallow --tags
      - run: make check
