name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-22.04
    name: Unit Tests
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2
        with:
          python-version: '3.x'
      - run: git fetch --prune --unshallow --tags
      - run: make check
